.innerLoader div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid var(--inverted-bg-color);
  border-top-color: transparent;
  border-radius: 50%;
  animation: inner-loader 1s linear infinite;
  top: 100px;
  left: 100px;
  box-sizing: content-box;
}

.loader {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.innerLoader {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

@keyframes inner-loader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
