.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.collapseBtn {
  position: absolute;
  bottom: 32px;
  right: -32px;
  background: var(--inverted-bg-color);
  color: var(--primary-color);
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.icon {
  fill: var(--inverted-primary-color);
}

.link {
  opacity: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    gap: 0;
  }

  .link {
    opacity: 0;
    transition: opacity 0.3s;
    width: 0;
  }
}
