.inputWrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.input {
  border: 2px solid var(--inverted-bg-color);
  border-radius: 5px;
  padding: 5px;
  outline: none;

  &:focus {
    outline: none;
    border: 2px solid var(--primary-color);
  }
}
