.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #080846;
  --primary-color: #062890;
  --secondary-color: #1d65ff;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
