name: Main - linting, testing, building
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  pipeline:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [17.x]
    steps:
      - uses: actions/checkout@v3
      - name: Starting Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install
      - name: Build project
        run: npm run build:prod
      - name: Run unit tests
        run: npm run test:unit
      - name: Lint TS
        run: npm run lint:ts
      - name: Lint SCSS
        run: npm run lint:scss
      - name: Install http-server
        run: npm install -g http-server
      - name: Start Storybook server
        run: http-server storybook-static -p 6006 --cors -a 0.0.0.0 & sleep 10
      - name: Run UI tests
        run: npm run test:ui:ci
