name: Main - linting, testing, building
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  pipeline:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    services:
      docker:
        image: docker:24-dind
        options: --privileged
    strategy:
      matrix:
        node-version: [17.x]
    steps:
      - uses: actions/checkout@v3
      - name: Starting Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install
      - name: Build project
        run: npm run build:prod
      - name: Run unit tests
        run: npm run test:unit
      - name: Lint TS
        run: npm run lint:ts
      - name: Lint SCSS
        run: npm run lint:scss
      - name: Build Storybook
        run: npm run storybook:build
      - name: Run UI tests
        run: npm run test:ui:ci
